* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: lighter;
}

body {
  border-top: 8px solid #f2ac04;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.gray-text {
  color: #ababab;
}

#container {
  max-width: 1000px;
  margin: auto;
}

header,
#header-top {
  display: flex;
  flex-wrap: wrap;
}

#header-top {
  padding: 40px 0;
  width: 100%;
}

#header-text {
  padding-left: 25px;
}

#header-text h4 {
  color: #f2ac04;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 18px 0;
}

#logo {
  position: relative;
  width: 245px;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: flex-end;
  padding-right: 35px;
  border-right: 1px solid #cac8c5;
}

#logo::before,
#logo::after {
  content: "";
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: block;
  top: 0px;
}

#logo::before {
  background: #f8d277;
  position: absolute;
  left: 0;
}

#logo::after {
  background: #f2ac04;
  position: absolute;
  left: 15px;
}

#header-menu {
  width: 100%;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
}

#header-menu ul {
    display: flex;
}

#header-menu ul li a {
    display: block;
    padding: 15px 35px;
    color: #ababab;
    text-transform: uppercase;
}

#header-menu ul li:first-child a {
    padding-left: 0;
}
#banners {
display: flex;
flex-wrap: wrap;

}
#banners > div {
  width: 50%;
}
#banners > div img {
  max-width: 100%;

}
#banners .bn-left .wrap {
  margin-right: 15px;
  border: 1px solid gray;
}
#banners .bn-right .wrap {
  margin-left: 15px;
}
#banners .bn-right .img-block {
  position: relative;
  height: 180px;
  overflow: hidden;

}

#banners .bn-right h3 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 2vw;
  color: #cac8c5;
  font-weight: normal;
  margin: 0;

}
#banners i {
  color: #f2ac04;
  font-size: 26px;
}
#banners .slade {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  
}
#banners .bn-right p {
  border-top: 1px solid #000;
  margin-top: 5px;
  padding-top: 15px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 0 0;
  border-top: 1px solid gray;
  padding: 30px 0 0 0;
}

#content .item {
width: 33.33%;
border-right: 1px solid gray; 
} 
#content .item h2 {
  margin: 0 0 30px 0;
}

#content .about, #content .contacts {
  padding: 0 40px;
}

#content .about {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 0 40px;
}
.news {
  padding-right: 10px;
}

.news .block-news{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px dashed gray;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.news .block-news h4 {
  margin: 0 0 5px 0;
}
