* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body, ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-weight: lighter;
}

body {
  border-top: 8px solid #f2ac04;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.gray-text {
  color: #ababab;
}

#container {
  max-width: 1000px;
  margin: auto;
}

header,
#header-top {
  display: flex;
  flex-wrap: wrap;
}

#header-top {
  padding: 40px 0;
  width: 100%;
}

#header-text {
  padding-left: 25px;
}

#header-text h4 {
  color: #f2ac04;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 18px 0;
}

#logo, #logo-footer {
  position: relative;
  width: 245px;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: flex-end;
  padding-right: 35px;
  border-right: 1px solid #cac8c5;
}

#logo::before, #logo::after, #logo-footer::before, #logo-footer::after  {
  content: "";
  height: 55px;
  width: 55px;
  border-radius: 50%;
  display: block;
  top: 0px;
}

#logo::before, #logo-footer::before {
  background: #f8d277;
  position: absolute;
  left: 0;
}

#logo::after, #logo-footer::after {
  background: #f2ac04;
  position: absolute;
  left: 15px;
}

#header-menu {
  width: 100%;
  border-top: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
}

#header-menu ul {
    display: flex;
}

#header-menu ul li a {
    display: block;
    padding: 15px 35px;
    color: #ababab;
    text-transform: uppercase;
}

#header-menu ul li:first-child a {
    padding-left: 0;
}
#banners {
display: flex;
flex-wrap: wrap;

}
#banners > div {
  width: 50%;
}
#banners > div img {
  max-width: 100%;

}
#banners .bn-left .wrap {
  margin-right: 15px;
  border: 2px solid gray;
}
#banners .bn-right .wrap {
  margin-left: 15px;
}
#banners .bn-right .img-block {
  position: relative;
  height: 180px;
  overflow: hidden;

}

#banners .bn-right h3 {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 2vw;
  color: #cac8c5;
  font-weight: normal;
  margin: 0;

}
#banners i {
  color: #f2ac04;
  font-size: 26px;
}
#banners .slade {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin: 10px 0px;
  background: fefefd;
  
}
#banners .bn-right p {
  border-top: 1px solid #000;
  margin-top: 5px;
  padding-top: 15px;
}

#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0 0 0;
  border-top: 1px solid gray;
  padding: 30px 0 0 0;
}

#content .item {
width: 33.33%;
border-right: 1px solid gray; 
} 
#content .item h2 {
  margin: 0 0 30px 0;
}

#content .about, #content .contacts {
  padding: 0 40px;
}

#content .about {
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  padding: 0 40px;
}
.news {
  padding-right: 10px;
}

.news .block-news{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px dashed gray;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.news .block-news h4 {
  margin: 0 0 5px 0;
}
.news .date-news span {
  color: #f2ac04;
  font-weight: bold;
  width: 100%;
  font-size: 22px;
}
.news .date-news {
  border-radius: 1px solid grey;
  padding-right: 10px;
  text-align: center;
  margin-right: 10px;
}
.about {
  line-height: 24px;
}
.more {
  border: 1px solid black;
  background: #2b2b29;
  padding-left: 5px;
  padding-right: 10px;
  height: 15px;
  text-align: end;
}

.more-more {
  border: 1px solid black;
  margin-left: 2px;
  background: #2b2b29;
  padding-left: 3px;
  padding-right: 4px;
  height: 15px;
  text-align: end;
}
.more [href] {
  color: #ffffff;
}
.more-more [href] {
  color: #ffffff;
}

.contacts > div {
border-bottom: 1px dashed grey;
padding: 10px 0;
display: flex;
justify-content: space-between;
}

.contacts > div:last-child {
  border: none;
}
.contacts i {
  font-size: 26px;
  width: 15%;
  text-align: center;
  color: lightgray;
}

.contacts span {
  width: 70%;
  color: gray;
}

.contacts > div:first-of-type span, .contacts > div:first-of-type + div span{
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
 align-items: center;
  border-top: 1px solid gray;
  padding: 25px 0 15px 0;
  margin-top: 25px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0 5px 0;
}

footer ul li a {
  color: gray;
  padding: 0 10px;
  display: block;
  border-right: 1px solid gray;
  text-transform: uppercase;
  font-size: 12px;
}

footer ul li:last-child a {
  border: none;
}
#logo-footer {
  height: 60px;
  border: none;
  padding: 0;
  width: 190px;
}

footer span {
  color: gray;
}